<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Home</title>

    
</head>
<body>
     <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Settings</a></li>
        <li><a href="/home">About</a></li>
        <li><a href="/home">Profile</a></li>
     </ul>

    <h1>Welcome <%= userName %></h1>
    <a href="/logout">Logout</a>
   <div>
    <div>
        <form action="/project" method="post">
            <label id="grade">Grade</label>
            <input type="text" name="grade">
            <label id="year">Year</label>
            <input type="number" name="year">
            <button type="submit">Create</button>
        </form>
    </div>
    <div>
       <form action="/filterByYears" method="post">
        <select name="selectedYear">
            <% yearAr.forEach(year=>{%>
                <option value="<%= year %>" <%= year===selectedYear ? 'selected' : '' %>><%= year %></option>
            <%}) %>
        </select>
        <button type="submit">Filter</button>
       </form>

        <table>
            <tr>
                <th>
                    Grade
                </th>
                <th>
                    Total Students
                </th>
            </tr>
            <% projectAr.forEach(el=> {%> <tr><td><a href="<%=el.name%>/<%=el._id %>/"><%= el.name %></a></td><td><%= el.Total %></td></tr> <% }) %>
        </table>
    </div>
   </div>
   <script>
/*
    console.log('Hellloooo fork plain')
    async function distictYears(){
        const a=await fetch('/distictyears')
        const years = await a.json();
        console.log(years)
       }
       
       function filterData(obj){
         console.log(obj)
       }
  */     
        </script>

</body>
</html>